@charset "UTF-8";

* {
	box-sizing: border-box;
	font-size: 14px;
	color: #141414;	
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
}

#container {
	margin: 0px auto;
	width: 1100px;
}




