<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/header.css">

<title>Insert title here</title>
</head>
<body>
	<div id="container">
		<header>
			<div class="brand-logo">
				<h1 class="brand-logo-text">회사명</h1>
			</div>
			<nav>
				<ul class="menu-ul">
					<li>게시글</li>
				</ul>
				<ul class="auth-ul">
					<li>로그인</li>
					<li>회원가입</li>
				</ul>
			</nav>
		</header>
	</div>
</body>
</html>